* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #121212;
}

@mixin flex-col($gap: 1.5rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  width: 100%;
  background: #121212;
  @include flex-col(0rem);
  align-items: center;

  section.view1 {
    max-width: 1900px;
    @include flex-col(1.5rem);
    padding: 1rem;

    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }
    .bottom {
      width: 100%;
      background: #1e1e1e;
      @include flex-col(2.2rem);
      padding: 1.9rem;
      border-radius: 0.7rem;
      color: rgb(240, 232, 232);
      h3 {
        text-transform: uppercase;
        font-family: "Times New Roman", Times, serif;
      }
      .text {
        @include flex-col(1rem);
        h2 {
          text-transform: uppercase;
          font-size: 1.3rem;
          font-weight: 200;
        }
        p {
          opacity: 0.5;
          font-size: 1rem;
          line-height: 1.4;
        }
        button {
          padding: 0.3rem 0.7rem;
          width: 40%;
          border-radius: 0.5rem;
        }
      }
    }
  }

  section.view2 {
       max-width: 1900px;
    width: 100%;
    color: white;
    padding: 1rem 3rem;
    text-transform: uppercase;
    @include flex-col(1.4rem);
    .top {
      display: flex;
       justify-content: space-between;

      .top-1,
      .top-2 {
        h2 {
          font-size: 0.6rem;
          opacity: 0.6;
          text-align: center;font-weight: 400;
        }
        h3 {
          font-size: 2.3rem;
          font-weight: 200;
          text-align: center;font-weight: 400;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      .bottom-1,
      .bottom-2 {
        h2 {
          font-size: 0.6rem;
          opacity: 0.6;
          text-align: center;font-weight: 400;
        }
        h3 {
          font-size: 2.3rem;
          font-weight: 200;
          text-align: center;font-weight: 400;
        }
      }
    }
  }
  
  section.view3 {
       max-width: 1900px;
    @include flex-col(2rem);
    padding: 1rem;
    .top{
        width: 100%;
        img{
            width: 100%;
            border-radius: 0.7rem;
        }
    }

    .bottom{
        background: #1e1e1e;
         @include flex-col(3.4rem);
        padding: 1.9rem;
        border-radius: 0.7rem;
        color: rgb(240, 232, 232);
        h3{
            text-transform: uppercase;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1rem;
            opacity: 0.8;
            font-weight: 400;
        }

        .text{
               @include flex-col(2rem);
              h2{
                font-weight: 200;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 2.3rem;
                line-height: 1.2;
              }
              .para{
                p{
                    font-size: 1rem;
                    opacity: 0.5;
                    
                }
              }
        }
    }
  }
   section.view4 {
       max-width: 1900px;
    @include flex-col(2rem);
    padding: 1rem;
    .top{
        width: 100%;
        img{
            width: 100%;
            border-radius: 0.7rem;
        }
    }

    .bottom{
        background: #1e1e1e;
         @include flex-col(3.4rem);
        padding: 1.9rem;
        border-radius: 0.7rem;
        color: rgb(240, 232, 232);
        h3{
            text-transform: uppercase;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1rem;
            opacity: 0.8;
            font-weight: 400;
        }

        .text{
               @include flex-col(2rem);
              h2{
                font-weight: 200;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 2.3rem;
                line-height: 1.2;
              }
              .para{
                p{
                    font-size: 1rem;
                    opacity: 0.5;
                    
                }
              }
        }
    }
  }

   h1{      max-width: 1900px;
         color: white;
         width: 100%;
         padding: 1rem;
        font-size: 2rem;
        text-align: start;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  section.view5{
       max-width: 1900px;
    color: rgb(246, 233, 233);
    @include flex-col(2rem);
    padding: 1rem;
    width: 100%;
    
    #content2{
        background: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02.webp);
      background-size: cover;
    }
     #content3{
        background: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp);
      background-size: cover;
    }
    .content{
        background: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
        aspect-ratio: 1/1;
        background-size: cover;
           @include flex-col(2rem);
        justify-content: space-between;
        padding: 1rem;
        border-radius: 0.7rem;


        .icons{
            display: flex;
            gap:1rem;
            justify-content: flex-end;
          
            .icon{
            background: #b3adad47;
            backdrop-filter: blur(6px);
            padding: 0.2rem 0.4rem;
            border-radius: 0.7rem;
            }
        }
        .text{
              @include flex-col(0rem);
              flex-direction: row;
              justify-content: space-between;
              background: #f4ebeb38;
              padding: 0.5rem 1rem;
              border-radius: 0.7rem;
              backdrop-filter: blur(6px);
        }
    }
  }
  section.view6{
    max-width: 1900px;
    padding: 1rem;
    @include flex-col(2rem);
    color: white;
    .top{
        width: 100%;
        img{
            width: 100%;
            border-radius: 0.7rem;
            object-fit: cover;
        }

    }
    .bottom{
         background: #1e1e1e;
         @include flex-col(3rem);
         padding:1rem;
         .text{
            h3{
                opacity: 0.5;
                font-size: 0.9rem;
            }
            h2{
                font-size: 2rem;
                font-weight: 200;
            }
         }
        .bt{
            display: flex;
            gap: 1rem;
            align-items: center;
            button{
                padding:0.4rem;
                background: #000;
                color: white;
                border: 1px solid white;
                border-radius: 50%;
            }
            h3{
                font-size: 0.8rem;
                opacity: 0.7;
            }
        }
    }
  }
  section.view7{
    max-width: 1900;  
    
    padding: 1rem;
    color: #000;
   
  .last{
    background: #CEBD63;
    width: 100%;
    border-radius: 0.7rem;
    padding: 1.3rem;
    @include flex-col(3rem);
  
    .top{
         @include flex-col(0.1rem);

        h2{
           font-size: 3rem;
           font-weight: 100;
           line-height: 1.2;
        }
        h3{
            font-weight: 300;
            opacity: 0.9;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
    .bottom{

        button{
            color: white;
            background: #000;
            padding: 1rem 2rem;
            border-radius: 0.7rem;
           
        }
    }
  }
  
  }
}

@media (min-width: 900px) {
  main {
    section.view1 {
      padding: 1rem 4rem;
      flex-direction: row;
      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 3rem;
        .text {
          h2 {
            font-size: 3rem;
          }
          button {
            padding: 0.5rem 1rem;
            width: 20%;
          }
        }
      }
    }

    section.view2 {
      width: 100%;
      color: white;
      padding: 2rem 4rem;
      @include flex-col(18rem);
      flex-direction: row;
      align-items: center;
   
    .top {
    display: flex;
      width:50%;

      .top-1,
      .top-2{
        h2{
          font-size: 1rem;
        }
        h3 {
          font-size: 4rem;
          
        }
      }
    }
    .bottom {
     width:50%;
      .bottom-1,
      .bottom-2 {
        h2 {
          font-size: 1rem;
        }
        h3 {
          font-size: 4rem;
        }
      }
    }
  }
  section.view3 {
    @include flex-col(2rem);
    flex-direction: row-reverse;
    padding: 1rem 4rem;
    .top,.bottom{
        width: 50%;
    }
    .bottom{
        justify-content: space-between;
        padding: 3rem;
        .para{
            @include flex-col(1rem);
            flex-direction:row;
        }
    }
  }
   section.view4 {
    @include flex-col(2rem);
    flex-direction: row;
    padding: 1rem 4rem;
    .top,.bottom{
        width: 50%;
    }
    .bottom{
        justify-content: space-between;
        padding: 3rem;
        .para{
            @include flex-col(1rem);
            flex-direction:row;
           p{
            width: 50%;
           }
        }
    }
  }
  h1{
    padding: 1rem 4rem ;
  }
  section.view5{
     padding: 1rem 4rem;
    flex-direction: row;
      .content{
        width: 33.33%;
      }
  }
  section.view6{
    padding: 1rem 4rem;
    flex-direction: row;
    .top,.bottom{
            width: 50%;
    }
    .bottom{
        padding: 3rem;
        justify-content: space-between;
        .text{
            h3{
                font-size: 1rem;
            }
              h2{
                font-size: 3rem;
            }
        }
    }
  }
   section.view7{
    max-width: 1900;  
     padding: 1rem 4rem;
   
    color: #000;
   
  .last{
    width: 100%;
    border-radius: 0.7rem;
    padding: 1.3rem;
    flex-direction: row;
    align-items: center;
    .top{
        h2{
            font-size: 5rem;
        }
    }
    .bottom{
        
        button{
            padding: 1rem 3rem;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

}}}}
